.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#background {
  background-image: url("../images/background.jpg");
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}

.entryform {
  width: 350px;
  position: relative;
}

.entryform .form-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.entryform input {
  font-family: inherit;
  width: 100%;
  outline: none;
  background-color: var(--color-white);
  border-radius: 4px;
  border: none;
  display: block;
  padding: 0.9rem 0.7rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  text-indent: 20px;
}

.entrybtn {
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  padding: 0.9rem 2.5rem;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
}

.form-span {
  color: var(--color-white);
  background: var(--color-danger);
  padding: 0.6rem;
  border-radius: var(--border-radius);
}
.uploadbtn {
  color: var(--color-primary);
  font-size: 17px;
}
