 
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 20%;
    max-width: 30%;
    padding: 0 2px;
  }
  
  .column img {
    margin-top: 5px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* main {
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 30px 40px rgb(0 0 0 / 10%), -30px 0px 40px rgb(0 0 0 / 10%);
  }
   */