.modalwrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(72, 113, 247, 0.3);
}

.modal {
  position: fixed;
  display: none;
  justify-content: space-between;
  top: 15%;
  left: 5%;
  width: 90%;
  height: 80%;
  background: #f2f2f2;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.imageWrapper {
  display: flex;
  justify-content: end;
  width: 100%;
}

.imageDiv  {
  display: flex;
  justify-content: space-between;
}


.imageContent  {
  width: 30%;
  height: 95%;
  position: absolute;
  left: 84%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  @media screen and (max-width: 768px) {
    top: 70%
    left: 50%;
    width: 100%;
    height: 60%;
  }
}

.uploader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .7rem;
}

.modalUsername {
  padding: .5rem;
}

.modalImage {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0% auto;
  object-fit: contain;
  color: #f2f2f2;
  width: 70%;
  height: 95%;
  position: absolute;
  left: 35%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 768px) {
    width: 60%;
    height: 60%;
  }
}

.closebtn {
  font-size: 1.7rem;
  z-index: 5;
}

.closebtn:hover{
  color: red;
} 

.imageInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* plus */
.uploader:hover{
  cursor: pointer;
}