@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

#bg {
    background-image: url('../image/background.jpg');
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(5px);

}
body {
    font-family: 'Montserrat', sans-serif;
    color: #4A4A4A;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
form {
    width: 350px;
    position: relative;
    
  }
  form input {
    font-family: inherit;
    width: 100%;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    display: block;
    padding: 0.9rem 0.7rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    margin-bottom: 5px;
    color: #4A4A4A;
    text-indent: 40px;
}
label{
   font-size: 15px;
}

input[type=text]:focus, input[type=password]:focus {
   background-color: #ddd;
   outline: none;
}
hr {
   border: 1px solid #f1f1f1;
   margin-bottom: 25px;
}
button {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
    text-align: center;
    background-color: #00ff00;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
}
button:hover {
   opacity:1;
}
.login {
   padding: 14px 20px;
   background-color: #1510bb;
}
.formContainer {
   padding: 16px;
}
.formContainer p{
   font-size: 28px;
}