@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import "root.css";
@import "navbar.css";
@import "main.css";
@import "form.css";
@import "upload.css";
@import "dropdown.css";
@import "image.css";